* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}


/* --------------------------------Navbar----------------------------------- */

.navbar {
    background-color: #000000;
}

.banderas {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 2px;
}


/* Banner */

.intro-banner {
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    color: #ffffff;
    border-bottom: 1px solid #ffa200;
    padding-top: 10em;
}


/* -------------------------------Body-------------------------------------- */


/* Sobre Nosotros */

.about {
    background-color: #efefef;
}

.about h2 {
    text-align: center;
}

.row {
    margin-right: 0px;
}


/* Servicios */

#services {
    background: #ffffff;
    color: #2f2f2f!important;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}

#services h1 {
    text-align: center;
    color: #2f2f2f!important;
    padding-bottom: 10px;
}

#services h1::after {
    content: '';
    background: #ff6600;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #000000;
    border-radius: 50%
}

#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #2f2f2f;
}

.services .col-md-3:hover {
    background: #ff6600;
    cursor: pointer;
    transition: 0.7s;
}


/* Carousel */

.carousel {
    text-align: center;
    margin: 5%;
}


/* Mapa */

.mapa {
    padding: 5%;
    background-color: black;
    text-align: center;
    color: #ffffff;
    height: 600px;
}

.mapa iframe {
    border-radius: 2%;
    width: 80%;
    height: 80%;
}

.mapa h2 {
    padding-bottom: 2%;
}


/* Mapa Sociedad Info*/

.mapaSociedad {
    padding: 5%;
    text-align: center;
    height: 600px;
}

.mapaSociedad iframe {
    border-radius: 2%;
    width: 80%;
    height: 80%;
}

.mapaSociedad h2 {
    padding-bottom: 2%;
}


/* Contactenos */

#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 0!important;
    border: none!important;
}

.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa {
    margin: 10px;
    color: #ff6600;
    font-weight: bold;
}

.contact-info .fab {
    margin: 10px;
    color: #ff6600;
    font-weight: bold;
}


/* --------------------------------Ventanas Modal ---------------------------*/

.form-modal {
    display: inline;
}

.footer-modal button {
    transition: 0.5s;
    background-color: #ff6600;
    color: #ffffff;
}

.footer-modal button:hover {
    transition: 0.5s;
    background-color: #ff2a00;
    color: #ffffff;
}

.footer-modal a:hover {
    transition: 0.5s;
    color: #ff2a00;
    text-decoration: underline;
}

.footer-modal a {
    color: #ff6600;
    transition: 0.5s;
    text-decoration: none;
}


/* ------------------------------Footer------------------------------------- */

.footer {
    text-align: center;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
}

.footer select {
    padding: 2%;
    border: none;
    background-color: #ffffff;
    color: #2f2f2f;
}

.footer li {
    list-style-type: none;
}


/* ------------------------------VISTA MENU------------------------------------- */

.div_usuario {
    margin-top: 5%;
    text-align: center;
}

.div_admin {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_usuario_editar {
    margin-top: 5%;
    text-align: center;
}

.div_usuario_editar span {
    font-weight: bold;
}

.div_usuario_editar input {
    text-align: center;
    margin: auto;
    width: 300px;
    border: solid 1px black;
}


/*------------------------------VISTA CORREO----------------------------------------*/

.correo_mensaje {
    margin-top: 5%;
}


/*-----------------------------SOCIEDADES-------------------------------------*/

.sociedades {
    display: flex;
    justify-content: space-around;
}

.sociedad {
    flex: 1 0 300px;
}

.img-card {
    width: 100%;
    height: 200px;
}

.sociedades {
    flex-wrap: wrap;
}


/* -----------------------Edit-User----------------------------------------- */

.edit_user {
    height: 1000px;
}

.edit_user .card {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.edit_user input {
    width: 100%;
}

.edit_user span {
    font-weight: bold;
    font-size: 20px;
}

.edit_user .div_admin {
    margin-left: 5%;
    color: red;
    font-size: 40px;
    font-weight: bold;
}


/* ---------------------------- userView--------------------------------- */

#filtroLista {
    text-align: center;
    padding: 0.75rem 1rem;
    min-width: 15vw;
    min-height: 100vh;
}

.flotante {
    position: sticky;
    top: 80px;
}

.sidebar {
    height: 100vh;
    color: white;
}

.texto_link {
    color: white;
}


/* lo necesario de bootstrap para el perfil de usuario */

.nav-item img {
    width: 2rem;
}

.animated--grow-in,
.sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #ffffff;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    background-color: #4e73df;
    border: 1px solid #4e73df;
}

.align-items-center {
    align-items: center !important;
}

.text-gray-500 {
    color: #b7b9cc !important;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
}

#tablaProfile {
    width: 100vw;
}